<% if current_user.already_liked?(book) %>
  <%= link_to book_likes_path(book), method: :delete, remote: true do %>
    <div class="text-danger">
      <i class="fas fa-heart"></i>
    </div>
  <% end %>
<% else %>
  <%= link_to  book_likes_path(book), method: :post, remote: true do %>
    <i class="fas fa-heart"></i>
  <% end %>
<% end %>
<%= book.likes.count %>
